{% extends "layout.html" %}
{% block title %} {{_('Index')}}{% endblock %}
{% block content %}
<br /> <br />
<ul>
    <li> <a href="{{ url_for('inventory.index') }}"> {{ _('Inventory of the guild')}}</a></li>
</ul>
<br /> {{ _('List of guilds with access to the app :')}}
<ul>
    {% for g in app.auth.guilds() %}
    <li> {{ g }} </li>
    {% endfor %}
</ul>
<br /> {{ _('List of players with access to the app :')}}
<ul>
    {% for g in app.auth.players() %}
    <li> {{ g }} </li>
    {% endfor %}
</ul>

{% endblock %}
