{% extends "layout.html" %}
{% block title %} {{_('List of inventory')}}{% endblock %}
{% block content %}

<p> {{_('Paste your Guild APIKey here.')}} {{_('You can get one ')}}<a href="http://app.ryzom.com/app_ryzomapi/">{{_('Here.') }}</a><br />
    {{ _('You will need a key with permissions G03 (inventory).')}}<br />
    {{ _("You can input between one and 5 keys.")}}
    </p>
 
    <form action="{{url_for('inventory.list', _external=True)}}" method="post">
    {% for i in range(MAX_APIKEY) %}
        {{'{} {} :'.format(_('Guild number'), i) }}<input name="{{'api_key{}'.format(i)}}" type="text" /> <br />
    {% endfor %}
    {{_('Choose the filter to apply on your guild inventory') }}<br />
    <select name="filter">
    {% for i,f in manager.filters() %}
        <option value="{{i}}">{{_(f.description())}}</option>
    {% endfor %}
    </select>
    <br />
    <input type="submit" value="{{_('Submit')}}" />
</form>

{% endblock %}
